*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}


.hero-area {
    background-color: #1F2937;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
}

.header-links{
    display: flex;
    justify-content: flex-end;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 25px;
    text-decoration: none;
}

.main-hero {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 150px;
}

.hero-text{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB; 
    margin-bottom: 15px;
}

button{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
    width: 130px;
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    color: #E5E7EB; 
    padding: 8px;
}

img {
    width: 500px;
    height: 230px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.carousel {
    display:flex;
    justify-content: center;
    gap: 50px;
}

.carousel-element {
    text-align: center;
    color: #868686;
    width: 200px;
}

.carousel-img {
    border: 2px solid #3882F6;
    border-radius: 5px;
    height: 200px;
    width: 200px
}

